

## Import libraries

In [1]:
import os
import ee
import geemap
import datetime
import pandas as pd

In [ ]:
# geemap.update_package()

## explore geemap

In [2]:
Map = geemap.Map()
Map

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Togg…

In [3]:
# Import the points where NO2 values will be pulled from GEE
in_csv = 'https://raw.githubusercontent.com/liyangyang515/NO2-in-South-East-Asia-_GE5219/main/data/Points_locations/SEA_pts.csv'

In [4]:
pts = geemap.csv_to_pandas(in_csv)
pts

          lon     lat Code    Country
0     138.625  -4.375  IDN  Indonesia
1     103.875  -4.375  IDN  Indonesia
2     104.625  22.625  VNM    Vietnam
3      99.625   0.875  IDN  Indonesia
4     115.875  -0.125  IDN  Indonesia
...       ...     ...  ...        ...
5906  112.375   0.375  IDN  Indonesia
5907  105.375  17.375  LAO       Laos
5908  102.875  20.625  LAO       Laos
5909  103.125  -3.375  IDN  Indonesia
5910  116.375   5.625  MYS   Malaysia

[5911 rows x 4 columns]

In [5]:
ee_SEA = geemap.pandas_to_ee(pts, latitude="lat", longitude="lon")

In [6]:
Map.addLayer(ee_SEA, {}, 'SEA')

## create a loop

In [8]:
#get daily mean
InitialDate= datetime.datetime(2020,3,1)
for i in range(0,731,1):
# for i in range(0,1,1):
    StartDate = (InitialDate + datetime.timedelta(days=i)).strftime('%Y-%m-%d')
    EndDate = (InitialDate + datetime.timedelta(days=(i+1))).strftime('%Y-%m-%d')
    collection = ee.ImageCollection('COPERNICUS/S5P/NRTI/L3_NO2') \
    .select('tropospheric_NO2_column_number_density') \
    .filterDate(StartDate, EndDate) 
    # Reduce the collection with a mean reducer.
    mean = collection.reduce(ee.Reducer.mean())
    out_csv = r'D:\GitHub\NO2-in-South-East-Asia-_GE5219\data\NO2_SEA_Land\NO2_raw_daily\NO2_' + StartDate + '.csv'
    geemap.extract_values_to_points(ee_SEA,mean,out_csv, scale = 27750)

Generating URL ...
Downloading data from https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/tables/9092b9204583459f851bb664fa3a23f2-b9e3cfda7879185782c7b83f889fc3ef:getFeatures
Please wait ...
Data downloaded to D:\GitHub\NO2-in-South-East-Asia-_GE5219\data\NO2_SEA_Land\NO2_raw_daily\NO2_2020-03-01.csv